@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --textColor1: #fff;
  --textcolor2: orange;
  --border: 1px solid var(--textColor1);
  --transition: 0.3s ease;
  --shadow: 0 5px 25px rgb(1 1 1 / 20%);
  --black-shadow: rgba(1, 1, 1, 0.5);
  --black-shadow2: rgba(1, 1, 1, 0.8);
  --raisin-black: rgb(37, 37, 37);
  --bigScreen-padding: 100px 200px;
  --mediumScreen-padding: 100px 40px;
  --text3: #f77313;
  --text4: #fb6f0b;
}

body {
  color: #404e67;
  background: #e9ecef;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0 0 9px 2px var(--black-shadow);
  border-bottom: 1px solid gray;
  height: 70px;
  background-color: #282828;
}

.start {
  display: flex;
  gap: 20px;
  align-items: center;
}

.start i {
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.start .toggle__sidebar:hover {
  box-shadow: 0 0 9px 2px var(--black-shadow);
  scale: 0.9;
  color: orange;
}

.logo {
  color: var(--textColor1);
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: var(--transition);
}

.logo:hover {
  color: orange;
  scale: 0.9;
  opacity: 0.8;
}

.logo img {
  position: absolute;
  height: 45px;
  width: 59px;
  left: -19px;
  top: -10px;
}

.logo .hide {
  opacity: 0;
}

.main-header .end {
  color: var(--textColor1);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  position: relative;
  width: 300px;
}
.profile {
  text-transform: uppercase;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.profile:hover {
  box-shadow: 0 0 9px 2px var(--black-shadow);
  scale: 0.9;
}

.profile__dropdown {
  position: absolute;
  top: 0;
  left: -10px;
  width: 85%;
  height: 325px;
  display: none;
  background-color: #282828;
  border-radius: 10px;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0 0 9px 2px var(--black-shadow);
  gap: 10px;
}

.profile__dropdown.active {
  display: flex;
  flex-direction: column;
  animation: fade-in 500ms forwards;
}

.profile__dropdown.fade-out {
  animation: fade-out 500ms forwards;
  display: flex;
  flex-direction: column;
}

.profile__dropdown .head {
  display: flex;
  padding: 15px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 5px;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid gray;
}

.profile__dropdown .profile__info {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.profile__name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.8rem !important;
}

.profile__email {
  opacity: 0.9;
  color: gray;
  font-size: 0.6rem !important;
}

.profile__dropdown a {
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: var(--textColor1);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}

.profile__dropdown a:last-child {
  border-top: 1px solid gray;
}
.profile__dropdown a:hover {
  background-color: var(--textcolor2);
  color: var(--textColor1);
  text-decoration: none;
  opacity: 0.8;
}

.main__wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  width: 200px;
  height: 100%;
  transition: var(--transition);
}

.sidebar.min {
  width: 70px;
}

.sidebar.min ul {
  align-items: center;
}

.sidebar span {
  text-wrap: nowrap;
}
span.hidden {
  display: none;
}

span.fade-out {
  animation: fade-out 500ms forwards;
  visibility: hidden;
}

span.fade-in {
  animation: fade-in 500ms forwards;
  display: inline-block;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.sidebar ul li {
  height: 55px;
  list-style: none;
}
.sidebar ul li a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
  color: var(--textColor1);
  font-size: 1.1em;
  transition: var(--transition);
  border-radius: 10px;
}
.sidebar ul li a:hover {
  background-color: var(--textcolor2);
  color: var(--textColor1);
  text-decoration: none;
}
.nav-active {
  background-color: var(--textcolor2);
  color: var(--textColor1);
  text-decoration: none;
}

main {
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  overflow-y: auto;
  transition: var(--transition);
}

.main-project {
  padding: 20px 0;
  gap: 35px;
  flex-direction: column;
  justify-content: start;
}

/*   dashbord  */
main.home {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 20px;
}
.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

main.active {
  width: calc(100% - 70px);
}

.progress .card {
  padding: 10px;
  width: 30%;
  height: 100px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  gap: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress .card header h4 {
  color: var(--textColor1);
  font-size: 0.8rem;
}

.progress .card i {
  font-size: 1.5rem;
  opacity: 0.9;
  transition: var(--transition);
}

.progress .card .row-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  padding: 0 10px;
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.progress .card .row-progress:hover i {
  scale: 1.1;
}

.progress .card footer {
  width: 100%;
  height: 10px;
}
.progress .card footer a {
  font-size: 0.7rem;
  color: var(--textColor1);
  transition: var(--transition);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.progress .card footer a i {
  font-size: 0.8rem;
}

.progress .card footer a:hover {
  scale: 0.9;
  opacity: 0.8;
  text-decoration: none;
}

.red {
  background: #e34724;
}
.green {
  background: #28a745;
}
.blue {
  background: rgb(12, 123, 226);
}

.wrapper {
  display: flex;
  width: 100%;
  gap: 15px;
  /* height: 100%; */
  /* flex-wrap: wrap; */
}

.wrapper__middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(100% - 250px);
}

.chart__wrapper {
  border-radius: 15px;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px inset,
    rgba(0, 0, 0, 0.1) 0px 0px 10px; */
}

.chart__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px 0 17px;
}
.chart__header from {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.chart__header select {
  width: 70px;
  background-color: rgb(61, 66, 74);
  border-radius: 5px;
  color: var(--textColor1);
  font-size: 0.5rem;
  padding: 2px;
  cursor: pointer;
  transition: var(--transition);
}
.chart__header select:hover,
.chart__header select:focus {
  width: 90px;
}
.wrapper__side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recent__clients,
.top__workers {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 240px;
  padding: 15px;
  gap: 5px;
  color: var(--textColor1);
  border-radius: 15px;
  background-color: rgb(61, 66, 74);
}

.recent__clients .table__header,
.top__workers .table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.5rem;
  padding: 0;
}

.recent__clients a,
.top__workers a {
  background-color: var(--textcolor2);
  border: 1px solid var(--textcolor2);
  width: 40px;
  height: 20px;
  color: var(--textColor1);
  transition: var(--transition);
  cursor: pointer;
  border-radius: 7px;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent__clients a:hover,
.top__workers a:hover {
  scale: 0.9;
  border: var(--text4);
  opacity: 0.9;
}

.recent__clients ul,
.top__workers ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.recent__clients li,
.top__workers li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: var(--transition);
}

.recent__clients li:hover,
.top__workers li:hover {
  box-shadow: 0 5px 25px rgb(1 1 1 / 40%);
}
.recent__clients li:hover .avatar,
.top__workers li:hover .avatar {
  scale: 0.9;
  box-shadow: 0 5px 25px rgb(1 1 1 / 40%);
}

.wrapper__middle .table__wrapper {
  height: auto;
  width: auto;
  font-size: unset;
  gap: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px inset,
    rgba(0, 0, 0, 0.1) 0px 0px 10px; */
  background-color: rgb(61, 66, 74);
  border-radius: 15px;
  color: var(--textColor1);
}
.wrapper__middle .table__wrapper .table__header h2{
  color: var(--textcolor2);
  opacity: 0.9;
}
.wrapper__middle .table__wrapper a {
  background-color: var(--textcolor2);
  color: var(--textColor1);
  transition: var(--transition);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.7rem;
}
.wrapper__middle .table__wrapper a:hover {
  scale: 0.9;
  opacity: 0.9;
}
.wrapper__middle .table__wrapper table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  /* color: rgb(61, 66, 74); */
  font-size: 0.6rem;
}
.wrapper__middle .table__wrapper table tr {
  border-bottom: 1px solid var(--textColor1);
  transition: var(--transition);
  border-radius: 5px;
}
.wrapper__middle .table__wrapper table tr:last-child {
  border-bottom: none;
}
.wrapper__middle .table__wrapper tbody tr:hover {
  box-shadow: 0 5px 25px rgb(1 1 1 / 40%);
  cursor: pointer;
  /* opacity: 0.8; */
}
.wrapper__middle .table__wrapper table tr td {
  padding: 10px;
}
.wrapper__middle .table__wrapper table tr td:nth-child(2) {
  text-align: end;
}

.wrapper__middle .table__wrapper table tr td:last-child {
  text-align: end;
}

.status.starting {
  background: #28a745;
  /* background: #8de02c; */
  border-radius: 4px;
  padding: 2px 4px;
  color: var(--textColor1);
  font-size: 0.5rem;
}
.status.in_progress {
  background: rgb(12, 123, 226);
  border-radius: 4px;
  padding: 2px 4px;
  color: var(--textColor1);
  font-size: 0.5rem;
}
.status.pending {
  background: #ffc107;
  border-radius: 4px;
  padding: 2px 4px;
  color: var(--textColor1);
  font-size: 0.5rem;
}

.avatar {
  text-transform: uppercase;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: bold;
  transition: var(--transition);
}

.avatar__info {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
}

/*  Tables  */
.table__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  font-size: 0.6rem;
  padding: 10px;
  height: 100%;
}

.dataTables_wrapper {
  overflow-x: auto;
}

.insrt_project th {
  padding: 5px 10px;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.insrt_project td {
  padding: 5px 10px;
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.082);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
}

.insrt_project td input {
  width: 100%;
  color: black;
  border: none;
  outline: none;
  background: transparent;
}

.main-project .table__wrapper {
  border-bottom: 1px solid #282828;
}

.table__wrapper select,
.table__wrapper input {
  padding: 0 !important;
}
.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

/* table,tr,td,th {
  border: 1px solid black;
} */

/* input {
  border: none;
  width: 100%;
  display: block;
  background-color: rgb(61, 66, 78);
  padding: 4px 6px;
  font-size: 12px;
} */

input:focus {
  border: none;
  outline: none;
  color: #ffc107;
}
input::placeholder {
  color: #fff;
}

.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  font-size: 0.7em;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
table.table td a.add {
  color: #27c46b;
}

button.confirm {
  color: #27c46b;
  border: none;
  background: none;
  font-size: 0.8rem;
  cursor: pointer;
}
a.edit {
  color: #ffc107;
  font-size: 0.8rem;
}
button.delete {
  color: #e34724;
  border: none;
  background: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.add-new {
  color: #fff;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  width: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 25px;
  border-radius: 15px;
  transition: var(--transition);
  font-size: 0.6rem;
  cursor: pointer;
}

.add-new:hover {
  background-color: #138496;
  border-color: #117a8b;
}
.form__dropdown {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--black-shadow);
  top: 0;
  z-index: 5;
  color: var(--textColor1);
  display: none;
}

.form__dropdown.active {
  display: grid;
  place-items: center;
  animation: fade-in 500ms forwards;
}
.form__dropdown.fade-out {
  display: grid;
  place-items: center;
  animation: fade-out 500ms forwards;
}

.form__dropdown form {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  border-radius: 15px;
  transform: translateY(-600px);
  opacity: 0;
  transition: var(--transition);
}
.form__dropdown form.active {
  transform: translateY(0);
  opacity: 1;
}

.close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}
.close:hover {
  opacity: 0.7;
  scale: 0.9;
}

.asave__reset {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.save__reset {
  background-color: var(--textcolor2);
  border: 1px solid var(--textcolor2);
  width: 70px;
  height: 35px;
  color: var(--textColor1);
  transition: var(--transition);
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}

.save__reset:hover {
  scale: 0.9;
  border: var(--text3);
}

.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}
/* form {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
} */

.file-input-wrapper {
  position: relative;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  left: -9999px;
}

.file-input-wrapper label {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 10px;
  cursor: pointer;
}

.file-input-wrapper .file-name {
  margin-top: 5px;
  color: #777;
}
td img {
  width: 100%;
  height: 85px;
  object-fit: contain;
}

#img {
  display: none;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.small_screen_sidebar {
  display: none;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper__middle {
    width: 100%;
  }
  .wrapper__side {
    flex-direction: row;
    justify-content: space-around;
  }
  .progress .card header h4 {
    font-size: 0.6rem;
  }

  .progress .card i {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .main-header {
    padding: 0 10px;
  }
  .start i {
    font-size: 1.2rem;
  }
  .start a {
    font-size: 1.3rem;
  }
  main {
    width: calc(100% - 70px);
  }
  .sidebar {
    width: 70px;
  }

  .sidebar a {
    justify-content: center;
  }

  .sidebar span {
    display: none;
  }

  .black__shadow {
    width: 0;
  }
  .black__shadow.active {
    background: var(--black-shadow);
    position: fixed;
    top: 0px;
    left: -0;
    z-index: 3;
    width: 100%;
    height: 100%;
    transition: var(--transition);
  }

  .small_screen_sidebar {
    transition: var(--transition);
    position: fixed;
    top: 0px;
    left: -200px;
    z-index: 5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #282828;
    width: 200px;
    height: 100%;
  }

  .small_screen_sidebar.active {
    left: 0;
  }

  .big ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .big ul li {
    height: 55px;
    list-style: none;
  }
  .big ul li a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    color: var(--textColor1);
    font-size: 1.1em;
    transition: var(--transition);
    border-radius: 10px;
  }
  .big ul li a:hover {
    background-color: var(--textcolor2);
    color: var(--textColor1);
    text-decoration: none;
  }

  .wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .wrapper__middle {
    gap: 20px;
    width: 100%;
  }

  .wrapper__side {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .progress {
    flex-wrap: wrap;
    gap: 10px;
  }
  .progress .card {
    width: 150px;
  }
}

@media (max-width: 570px) {
  .start {
    gap: 5px;
  }
  .start i {
    font-size: 1rem;
  }
  .start a {
    font-size: 1rem;
  }
  .start .logo img {
    height: 35px;
    width: 44px;
    left: -15px;
  }

  .profile {
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
  }

  .profile__dropdown {
    top: 40px;
    right: 0;
    left: auto;
    width: calc(100vw - 40px);
  }

  main {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .progress {
    justify-content: center;
  }
  .progress .card {
    width: 100%;
  }

  .chart__header select {
    width: 50px;
    font-size: 0.4rem;
  }
  .chart__header select:hover {
    width: 70px;
  }
  .chart__header label {
    font-size: 0.8rem;
  }
  .recent__clients,
  .top__workers {
    width: 100%;
  }
  .progress .card header h4 {
    font-size: 0.8rem;
  }

  .progress .card i {
    font-size: 1.5rem;
  }
}
