@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --textColor1: #fff;
  --textcolor2: orange;
  --border: 1px solid var(--textColor1);
  --transition: all 0.3s ease;
  --shadow: 0 5px 25px rgb(1 1 1 / 20%);
  --black-shadow: rgba(1, 1, 1, 0.5);
  --black-shadow2: rgba(1, 1, 1, 0.8);
  --raisin-black: rgb(37, 37, 37);
  --bigScreen-padding: 100px 200px;
  --mediumScreen-padding: 100px 40px;
  --smallScreen-padding: 45px 10px;
  --text3: #f77313;
  --text4: #fb6f0b;   
  --linear: linear-gradient(to right, #394867, #212a3e);
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    gap: 10px;
    background: var(--linear);
}

.update-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #9BA4B5;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}

.row-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
    justify-items: center;
}

input{
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 200px;
}

.wrapper{
 position: relative;
}

.wrapper:last-child{
    grid-column: span 1.5/auto;
}

img{
    width: 250px;
    height: 153px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

input[type="file"]{
    display: none;
}

 label {
    color: var(--raisin-black);
    height: 35px;
    width: 35px;
    background-color: #efefef;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 1.1em;
    transition: var(--transition);
  }
  
  label:hover {
    opacity: 0.7;
  }

  .submit-reset {
    padding: 10px;
    width: 10%;
    cursor: pointer;
    transition: var(--transition);
  }
  .submit-reset:hover {
    opacity: 0.7;
  }
  .delete{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor1);
    gap: 70px;
  }

  .delete span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: var(--transition);
  }
  .delete span:hover{
    background-color: var(--text4);
  }

  .deletebtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fb330b;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--textColor1);
  }

  .deletebtn:hover{
    background-color: var(--text4);
  }